docs/

# CMake build directories
/build/
/CMakeFiles/
/CMakeScripts/
/CMakeCache.txt
/CMakeCache/
/CMakeOutput.log
/CMakeTmp/

# Compiled and binary files
*.o
*.a
*.so
*.dll
*.exe

# Compiled object files
*.slo
*.lo
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.out
*.app
